{% extends "base.html.twig" %}
{% block title %}ready site{% endblock %}
{% block body %}
  <header>
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand active" href="{{ path('index')}}">Accueil</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('commandez')}}">Achetez la {{ description }}</a>
            </li>
            <li class="nav-item">
              <a id="CGV" class="nav-link" href="{{ path('cgv')}}">Conditions générales de vente</a>
            </li>
            <li class="nav-item">
              <a id="RGPD" class="nav-link" aria-current="page" href="{{ path('rgpd')}}">Réglementation concernant les données personnelles</a>
            </li>
            <li class="nav-item">
              <a id="licence" class="nav-link" aria-current="page" href="{{ path('app_licence')}}">licence</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" aria-current="page" href="{{ path('app_contact')}}">Contact</a>
            </li> 
            <li class="nav-item">
              <a id="connecter" class="nav-link" aria-current="page" href="{{ path('register')}}">s'enregistrer</a>
            </li>
            <li class="nav-item">
              <a id="login" class="nav-link" aria-current="page" href="{{ path('app_login')}}">se connecter/se déconnecter</a>
            </li>
            <li class="nav-item">
              <a id="user" class="nav-link" aria-current="page" href="{{ path('app_user')}}">mon espace</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <img id="header-image" src="{{asset('images/businessman-3213659_1920.jpg')}}" alt="image affaire"/>
  </header>
  <main>
    <section>
      {% for message in app.flashes('cancel') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
      {% endfor %}
      <h1>Bonjour !</h1>
      <br/>
      <p>Vous recherchez un télétravail ? 
        Vous désirez être indépendant et travailler de où vous voulez et quand vous voulez ?
        Alors vous êtes au bon endroit. {{ admin_company }} a l'immense plaisir de vous présenter la {{ description }} 
        qui vous permettra de devenir développeur web et mobile. 
        La seule chose dont vous aurez besoin est d'un ordinateur et d'une connection à internet. 
      </p>
      <br/>
      <div class="text-center">
        <a class="btn btn-success" href="{{ path('commandez')}}" role="button">Achetez la {{ description }} maintenant</a>
      </div>
      
      <br/>
      <h2>En quoi consiste le métier de développeur ?</h2>
      <br/>
      <p>Cela consiste à créer des sites web et des applications mobile pour vous même ou pour des clients. 
      Pour cela, le développeur doit maitriser les différents langages de code ainsi que les différents outils informatiques nécessaires à la réalisation d'un site web.
      Le développeur doit aussi connaitre la réglementation concernant les données personnelles des utilisateurs ainsi que les lois concernant la réalisation de site web. 
      </p>
      <br/>
      <div class="text-center">
        <a class="btn btn-success" href="{{ path('commandez')}}" role="button">Achetez la {{ description }} maintenant</a>
      </div>
    </section>
  </main>
{% endblock %}